# Veritabanı (PostgreSQL veya SQLite)
DATABASE_URL="postgresql://user:password@localhost:5432/academy_lms?schema=public"

# NextAuth Güvenliği
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="bir-super-gizli-rastgele-anahtar-buraya-yazin"

# Admin Varsayılan Bilgileri
ADMIN_DEFAULT_EMAIL="admin@academy.com"
ADMIN_DEFAULT_PASSWORD="admin123"
